<ion-view title="Eventos" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="eventos-card27">
      <form id="eventos-form10" class="list">
        <label class="item item-input" id="eventos-search8">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="">
        </label>
      </form>
      <ion-item id="eventos-list-item28">Evento</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left assertive" id="eventos-list-item29">
        <i class="icon ion-location"></i>Localização</ion-item>
    </div>
  </ion-content>
</ion-view>