<ion-view title="Hospitais" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="hospitais-form3" class="list">
      <label class="item item-input" id="hospitais-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="hospitais-card21">
      <ion-item id="hospitais-list-item11">Hospitais</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left assertive" id="hospitais-list-item12">
        <i class="icon ion-location"></i>Localização</ion-item>
    </div>
  </ion-content>
</ion-view>