<ion-view title="Hoteis" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="hoteis-form9" class="list">
      <label class="item item-input" id="hoteis-search7">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="hoteis-card26">
      <ion-item id="hoteis-list-item26">Hotel</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left assertive" id="hoteis-list-item27">
        <i class="icon ion-location"></i>Localização</ion-item>
    </div>
  </ion-content>
</ion-view>