<ion-view title="Pontos Turísticos" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="pontosTurSticos-form6" class="list">
      <label class="item item-input" id="pontosTurSticos-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div class="list card" id="pontosTurSticos-card23">
      <ion-item id="pontosTurSticos-list-item14">Ponto Turistico</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left assertive" id="pontosTurSticos-list-item15">
        <i class="icon ion-location"></i>Localização</ion-item>
    </div>
  </ion-content>
</ion-view>