<ion-view title="Restaurantes" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="restaurantes-card25">
      <form id="restaurantes-form8" class="list">
        <label class="item item-input" id="restaurantes-search6">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="">
        </label>
      </form>
      <ion-item id="restaurantes-list-item22">Restaurante</ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <ion-item class="item-icon-left assertive" id="restaurantes-list-item23">
        <i class="icon ion-location"></i>Localização</ion-item>
    </div>
  </ion-content>
</ion-view>
